<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="vertically-aligned">
    <ion-card-header color="primary" class="ion-text-center">
      <ion-text>
        <h3>Aplicação desenvolvida por Luiz Augusto Ventura.</h3>
      </ion-text>  
      <br>
      <ion-text>
        <h3>Em caso de dúvida, envie um email para luizaugustoventu1998@hotmail.com.</h3>
      </ion-text>
    </ion-card-header>
  </ion-card>
</ion-content>
